<div class="acc-wizard row-fluid">
  <div class="span3">
    <ol class="acc-wizard-sidebar">
      <li class="acc-wizard-todo acc-wizard-active"><a href="#step1">Step 1</a></li>
      <li class="acc-wizard-todo"><a href="#step2">Step 2</a></li>
      <li class="acc-wizard-todo"><a href="#step3">Step 3</a></li>
    </ol>
  </div>
  <div class="span9">
    <div class="accordion" id="accordion-wizard">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-wizard" href="#step1">
           Step 1
          </a>
        </div>
        <div id="step1" class="accordion-body collapse in">
          <div class="accordion-inner">
            <form>
              djfgjdfgjdgnfdjgndgjdgdfgd
            </form>
          </div> <!--/.accordion-inner -->
        </div> <!-- /#grupos -->
      </div> <!-- /.accordion-group -->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-wizard" href="#step2">
            Step 2
          </a>
        </div>
        <div id="step2" class="accordion-body collapse in">
          <div class="accordion-inner">
             <form>
              jdfsnkjsdnfsdnflsnd
            </form>
          </div> <!--/.accordion-inner -->
        </div> <!-- /#acos -->
      </div> <!-- /.accordion-group -->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-wizard" href="#step3">
            Step 3
          </a>
        </div>
        <div id="step3" class="accordion-body collapse in">
          <div class="accordion-inner">
             <form>
              4sf6544sd5f4s54
            </form>
          </div> <!--/.accordion-inner -->
        </div> <!-- /#asociaciones -->
      </div> <!-- /.accordion-group -->
    </div>
  </div>
</div>