<div class="acc-wizard row-fluid">
	<div class="span3">
		<ol class="acc-wizard-sidebar">
		</ol>
	</div>
	<div class="span9">
		<div class="accordion acc-wizard-content" id="accordion-wizard">
		</div>
		<div class="acc-wizard-actions">
			<ul class="pager">
				<li>
					<a class="prev" {{data 'action'}}>
						&larr; Anterior
					</a>
				</li>
				<li>
					<a class="next" {{data 'action'}}>
						Siguiente &rarr;
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>