<div class="acc-wizard-step-content accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle">
			{{title}}
		</a>
	</div>
	<div class="accordion-body">
		<div class="accordion-inner">
		</div>
	</div>
</div>