<div class="control-group radio">
	<div class="controls">
		<input type="checkbox" name="{{name}}" value="{{value}}">
	</div>
	<label class="control-label" for="{{name}}">
		{{label}}
	</label>
</div>