<div class="control-group radio">
	<label class="control-label" for="{{name}}">
		{{label}}
	</label>
	<div class="controls">
		{{#options}}
		<div class="control-group radio">
			<label class="control-label" for="{{name}}">
				{{label}}
			</label>
			<div class="controls">
				<input type="radio" name="{{name}}" value="{{value}}">
			</div>
		</div>
		{{/options}}
	</div>
</div>