<span class="actions">
	{{#embedded.forms.embedded.actions_form.embedded.collection}}
		{{#if caption}}
		<button class="btn btn-small" name="{{name}}"type="button" title="{{tooltip}}">
			<i class="icon-{{icon}}"></i>&nbsp;&nbsp;{{caption}}
		</button>
		{{/if}}
	{{/embedded.forms.embedded..actions_form}}
</span>