<div class="span4">
    <div class="pull-left">
    <h4>
      Detalle Presupuesto
    </h4>
    <br>
    <ul class="unstyled">
        <li>Presupuestado<span class="pull-right strong">USD 100K - 100%</span>
            <div class="progress progress-important">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </li>
        <li>Comprometido<span class="pull-right strong">USD 50K - 50%</span>
            <div class="progress progress-success">
                <div class="bar" style="width: 50%;"></div>
            </div>
        </li>
        <li>Ejecutado<span class="pull-right strong">USD 30K - 30%</span>
            <div class="progress progress-warning">
                <div class="bar" style="width: 30%;"></div>
            </div>
        </li>
    </ul>
  </div>
</div>