<div class="form-wrapper-main">
	<form class="well-small">
		<fieldset>
    		<legend>Formulario de {{title}}</legend>
			{{#embedded.fields_form.embedded.collection}}
			<div class="well-small">
				<span class="span2"><small>{{label}}</small></span>
				<input type="text" name="{{name}}" id="{{name}}" placeholder="{{placeholder}}">
			</div>
			{{/embedded.fields_form.embedded.collection}}
		<div class="form-actions well-small">
	  		<button class="btn btn-small" type="reset">Limpiar</button>
	  		<button class="btn btn-small btn-primary pull-right" type="button">Buscar</button>
	  	</div>
	  	</fieldset>
	</form>
</div>