<table class="table table-condensed">
	<thead>
		<tr>
			<th>Institucion</th>
			<th>Editar</th>
		</tr>
	</thead>
	<tbody>
		{{#institutions.embedded.collection}}
		<tr>
			<td>{{name}}</td>
			<td><i class="icon-edit"></i></td>
		</tr>
		{{/institutions.embedded.collection}}
	</tbody>        
</table>