<ul>
	{{#actions}}
		<li class="media-action pull-{{align}}">
			{{#title}}
				<a href="{{href}}">
					<i>{{title}}</i>
				</a>
			{{/title}}

			{{#icon}}
				<a href="{{href}}" class"icon">
					<i class="icon icon-{{icon}}"></i>
				</a>
			{{/icon}}
		</li>
	{{/actions}}
</ul>