body {
	padding-top: 90px;
	padding-bottom: 40px;
}

/*********FORM STYLES********/

.form-wrapper div.well-small {
	margin-left: -25px;
	margin-right: 7px;
}

.form-wrapper div.form-actions {
	margin-left: 0px;
	margin-bottom: 0px;
}

.form-wrapper form{
	padding: 0;
	margin: 0;
}

.form-wrapper form input{
	padding: 2px 4px;
	font-size: 12px;
	margin-bottom: -10px;
}

.form-wrapper form legend {
	font-size:14px;
	color: #999;
	text-indent: 10px;
	line-height: 40px;
	margin-bottom: 3px;
}

/*********TAB STYLES*********/

.nav-tabs li{
	font-size: 12px;
}

.tabs-wrapper {
}

.tabs-wrapper h3{
	width:30%;
}

.tabs-wrapper .actions-wrapper{
	color:black;
	width:60%;
	margin-right:0;
	margin-top:-50px;
}

.nav-tabs{
	clear:both;
	margin-top:5px;
}

.tab-content{
	height: 300px important!;  
	overflow: auto;

}

.tab-pane:{
	border:1px solid #333;	
	min-height: 500px;
}