<a class="pull-left media-icon" href="#">
	<i class="icon icon-{{icon}}"></i>
</a>
<div class="media-body">
	<blockquote>

		<h4 class="media-heading">
			{{title}}
		</h4>

		<p>{{description}}</p>

		<p> 
			Likes <i class="icon icon-thumbs-up"></i>
			{{likes}}
		<p>

		<p> 
			Shared <i class="icon icon-tag"></i>
			{{shared}} times 
		<p>

		<small class="pull-right"> {{date}} </small>

	</blockquote>
</div>