<ul class="nav nav-list bs-docs-sidenav" id="drilldown-{{id}}">
	{{#drilldown}}
		<li href="{{href}}">
			<a>
				{{label}}
				<i class="icon-chevron-right pull-right"></i>
			</a>
		</li>
	{{/drilldown}}
</ul>