[submodule "funcunit"]
	path = funcunit
	url = https://github.com/bitovi/funcunit.git
[submodule "steal"]
	path = steal
	url = https://github.com/bitovi/steal.git
[submodule "can"]
	path = can
	url = https://github.com/bitovi/canjs.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/bitovi/jquerypp.git
[submodule "canui"]
	path = canui
	url = https://github.com/bitovi/canui.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "underscore.string"]
	path = underscore.string
	url = https://github.com/epeli/underscore.string.git