<fieldset>
	<legend>{{title}}</legend>
</fieldset>
<table class="table table-striped">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		{{^body}}
		<tr>
			<td colspan="100">
				{{error_msg}}
			</td>
		</tr>
	    {{/body}}
	</tbody>
</table>