<ul class="paginable pager">
	<li class="previous" {{#prev}} {{data 'link'}} {{/prev}}>
		<a>
			Anterior
		</a>
	</li>
  	<li class="next" {{#next}} {{data 'link'}} {{/next}}>
  		<a>
  			Siguiente
  		</a>
  	</li>
</ul>