<div class="modal">
	<div class="modal-header">
		<button type="button" class="close remove">
			×
		</button>
		<h3>
			{{title}}
		</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		{{#options}}
		<button class="btn" class="{{type}}">
			{{title}}
		</button>
		{{/options}}
	</div>
</div>