<div class="extended popover top">
	<div class="arrow"></div>
		<h3 class="popover-title">
			Accesos Disponibles
		</h3>
	<div class="popover-content">
		<ul>
			{{#access}}
				<li>
					{{access}}
				</li>
			{{/access}}
		</ul>
	</div>
</div>	