<div>
	<i class="icon-spinner icon-spin icon-2x"></i>
	Cargando...
</div>
<form class="form-inline">
	<input type="text" class="input-medium" placeholder="{{placeholder}}">
	<p>
		<button type="button" class="btn btn-primary">
			<i class="icon-ok icon-white"></i>
		</button>
		<button type="button" class="btn">
			<i class="icon-remove"></i>
		</button>
	</p>
</form>