<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li>
					<a href="#">
						<i class="icon-home icon-large icon-muted"></i>
					</a>
				</li>
				<a class="brand" href="#">
					HAL-Browser
				</a>
				{{#self}}
					<li>
						<a href="{{href}}" class="browseable" {{data 'link'}}>
							Fetch Root
						</a>
					</li>
				{{/self}}
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3>
				Custom Request
			</h3>
			<form onSubmit="return false;">
				<div class="input-append span12">
					<input class="span11" name="custom_url" type="text" value="/">
					<button class="btn btn-success" type="button">
						GET
					</button>
				</div>
			</form>

			<h3>
				Properties
			</h3>
			<pre class="prettyprint">{{propertiesJSON}}</pre>

			<h3>
				Links
			</h3>
			<table class="table table-hover">
				<thead>
					<tr>
					<th>rel</th>
					<th>title</th>
					<th>name</th>
					<th>templated</th>
					<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{#linksAsList}}
					<tr class="{{rel}}" {{ data 'links'}}>
						<td>
							{{rel}}
						</td>
						<td>
							{{title}}
						</td>
						<td>
							{{name}}
						</td>
						<td>
							{{templated}}
						</td>
						<td>
							<a href="{{href}}" class="browseable" {{data 'link'}}>
								<span class="label label-success">
									{{action}}
								</span>
							</a>
						</td>
					</tr>
					{{/linksAsList}}
				</tbody>
            </table>
		</div>
		<div class="span6">
			<h3>
				Resource
			</h3>
			<pre class="prettyprint">{{resourceJSON}}</pre>
		</div>
	</div>
</div>