<footer class="footer navbar navbar-fixed-bottom well-small">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="pull-right">{{title}}</p>
				<p>ACL_MANAGER</p>
			</div>
		</div>
	</div>
</footer>