<div class="input-append searcher">
	<input class="search" type="text">
	<div class="btn-group">
		<button class="btn search">
			Buscar
		</button>
		<button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
			<span class="caret"></span>
		</button>
		<div class="advance dropdown-menu pull-right">
			<form>
				<fieldset>
					<legend>
						<p class="text-center">
							Busqueda Avanzada
						</p>
					</legend>
					<div class="form_field">
						<label for="name">Nombre</label>
						<input class="input-large" type="text" name="name">
					</div>
					<div class="form_field">
						<label for="lastname">Apellido</label>
						<input class="input-large" type="text" name="lastname">
					</div>
					<div class="form_field">
						<label for="sex">Sexo</label>
						<select name="sex">
							<option>Masculino</option>
							<option>Femenino</option>
						</select>
					</div>
					<div class="form_field">
						<label for="dni">DNI</label>
						<input class="input-large" type="text" name="dni">
					</div>
				</fieldset>
			</form>
			<div class="form-actions">
				<button type="button" class="btn pull-left cancel">Cancelar</button>
				<button type="button" class="btn btn-primary pull-right advance-search">Buscar</button>
			</div>
		</div>
	</div>
</div>