<div class="control-group">
	<label class="control-label" for="{{name}}">
	</label>
	<div class="controls">
		<button name="{{name}}" class="btn btn-primary" type="button">
			{{label}}
		</button>
	</div>
</div>