<div class="control-group">
	<label class="control-label" for="{{name}}">
		{{label}}
	</label>
	<div class="controls">
		<textarea rows="4" name="{{name}}"></textarea>
	</div>
</div>
{{#note}}
<span class="help-block">
	<p class="muted">
		<strong>INFO:</strong>
		{{note}}
	</p>
</span>
{{/note}}