<ul class="media-list">
{{#collection}}
	<li class="media well span6">
		<a class="pull-left thumbnail" href="#">
			<img src="http://placehold.it/100x100" class="img-circle">
		</a>
		<div class="media-body span3">
			<h4 class="media-heading">{{apellido}}, {{nombre}}</h4>
			<div class="media">
				<address>
					<strong>Contacto</strong><br>
					<abbr title="Telefono">T:</abbr>{{telefono_particular}}<br>
					<abbr title="Celular">C:</abbr>{{celular}}<br>
					<abbr title="Email">E:</abbr><a href="mailto:#">{{email}}</a>
				</address>
			</div>
		</div>
	</li>
{{/collection}}
</ul>