<ul class="media-list">
{{#collection}}
	<li class="media well span8">
		<a class="pull-left thumbnail" href="#">
			<img src="http://placehold.it/100x100" class="img-circle">
		</a>
		<div class="media-body span3">
			<h4 class="media-heading">{{n_centro}}</h4>
			<div class="media">
				<address>
					{{n_grupo_nivel_titulo}}	
					<br>
					{{tipo_importancia_informe}}
				</address>
			</div>
		</div>
	</li>
{{/collection}}
</ul>