
<div class="table-wrapper">
	<div class="well well-small">
		<h4 class="">{{title}}</h4>
		<div class="actions input-append pull-right">
			{{#if actions}}
			<span class="actions offset1">
			{{#actions}}
				<button class="btn btn-small" name="{{name}}"type="button" title="{{tooltip}}">
					<i class="icon-{{icon}}"></i>&nbsp;&nbsp;{{caption}}
				</button>
			{{/actions}}
			</span>
			{{/if}}
		</div>
	</div>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th width="250">Planes Corporativos</th> 
				<th >Programas Asociados<span class="header-pais pull-right">Paises Asociados</span></th>
				<th width="400">Objetivo</th>
			</tr>
		</thead>
		<tbody>
			{{#list}}
				<tr>
					<td data-field="plan" class="plan"><a href="{{_links.self.href}}" title="Editar este Plan">{{plan}}</a></td>
					<td data-field="programa-wrapper">
					{{#programas}}
						<div class="programa">
							<span id="{{id}} "class="nombre-programa">
								<a href="{{_links.self.href}}" title="Editar este Programa">{{nombre_programa}}</a>
							</span>
							<span class="pais pull-right">{{id_pais}}</span>
						</div>
					{{/programas}}
					</td>
					<td data-field="objetivo" class="objetivo">{{objetivos}}</td>
				</tr>
			{{/list}}
		</tbody>
	</table>	
</div>