<div class="table-wrapper">
	<div class="well well-small">
		<h4 class="">{{title}}</h4>
	</div>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				{{#headers_list}}
					<th class="{{span}}">{{title}}</th>
				{{/header_list}}
			</tr>
		</thead>
		<tbody id="list_table">
		</tbody>
	</table>	
</div>