<div class="table-wrapper">
	{{#if getNav}}
		<div class="well well-small">
		{{#getNav}}
			<a href="#" {{data 'link_contextual'}}class="browseable">{{nombre}}</a> / 
		{{/getNav}}
		{{#getLastNav}}
			{{nombre}}
		{{/getLastNav}}
		</div>
	{{/if}}
	{{#if title}}
		<div class="well well-small">
			<h4 class="">{{title}}</h4>
		</div>
	{{/if}}
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				{{#header_list}}
					<th class="{{span}}">{{title}}</th>
				{{/header_list}}
			</tr>
		</thead>
		<tbody id="list_table">
		</tbody>
	</table>	
</div>