<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Tipo
			</th>
			<th>
				Default
			</th>
			<th>
				Grupo
			</th>
			<th>
				Accion
			</th>
		</tr>
	</thead>
	<tbody>
		{{#indicadores}}
		<tr>
			<td>
				{{nombre}}
			</td>
			<td>
				{{tipo_campo}}
			</td>
			<td>
				{{default}}
			</td>
			<td>
				{{#grupo}}
					{{grupo}}
				{{/grupo}}
			</td>
			<td>
				<i class="text-error icon-remove"></i>
			</td>
		</tr>
		{{/indicadores}}
		{{^indicadores}}
		<tr>
			<td colspan="100">
				No se cargo ningun Indicador
			</td>
		</tr>
	    {{/indicadores}}
	</tbody>
</table>