<div class="container-caption">
	<h4>
		Grupos
		{{#add}}
		<button type="button" class="add-group btn btn-primary pull-right" {{data 'link'}}>
			<i class="icon-info-plus-sign"></i>
			Nuevo Grupo
		</button>
		{{/add}}
	</h4>
</div>
<div class="container-table">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre del Grupo</th>
				<th>Permisos Generales</th>
			</tr>
		</thead>
		<tbody>
			{{#groups}}
			<tr>
				<td>{{id}}</td>
				<td>
					<a id="{{id}}" class="editable" {{data 'group'}}>
						{{group}}
					</a>
				</td>
				<td>
					<ul>
						{{#permissions}}
						<li>
							<a id="{{id}}" {{data 'permission'}}>
								{{permission}}
							</a>
						</li>
						{{/permissions}}
					<ul>
				</td>
				<td>
					<a>
						<i class="icon-remove"></i>
						</a>
				</td>
			</tr>
			{{/groups}}
		</tbody>
	</table>
</div>