<div class="container-caption">
	<h4>
		Grupos
	</h4>
	<div class="breadcrumb">
		<form class="form-inline" onSubmit="return false;">
			<label for="name">
				Buscar:
			</label>
			<input type="text" class="input-large search" name="name">
		{{#add}}
			<button type="button" class="add-group btn btn-primary pull-right" {{data 'link'}}>
				<i class="icon-info-plus-sign"></i>
				Nuevo Grupo
			</button>
		{{/add}}
		</form>
	</div>
</div>
<div class="container-table">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre del Grupo</th>
				<th>Permisos Generales</th>
				<th>Acos Contenidas</th>
			</tr>
		</thead>
		<tbody>
			{{#groups}}
			<tr>
				<td>{{id}}</td>
				<td>
					<a id="{{id}}" class="editable name-editable" {{data 'resource'}}>
						{{name}}
					</a>
				</td>
				<td>
					{{#if permissions}}
					<ul class="icons-ul editable permissions-editable" {{data 'resource'}}>
						{{#permissions}}
						<li>
							<i class="icon-li {{#if allow}} icon-plus {{else}} icon-minus {{/if}}"></i>
							{{name}}
						</li>
						{{/permissions}}
					</ul>
					{{/if}}
				</td>
				<td>
					{{#if acos}}
					<ul class="editable acos-editable" {{data 'resource'}}>
						{{#acos}}
						<li>
							{{name}}
							{{#permissions}}
								<span class="label {{#if allow}} label-success {{else}} label-error {{/if}}">
									{{name}}
								</span>
							{{/permissions}}
						</li>
						{{/acos}}
					<ul>
					{{/if}}
				</td>
				<td class="text-center">
					<a class="text-error">
						<i class="icon-remove"></i>
					</a>
				</td>
			</tr>
			{{/groups}}
		</tbody>
	</table>
	<div class="paginator">
		<ul class="pager">
			<li>
				<a class="browseable">
					&larr; Anterior
				</a>
			</li>
			<li>
				<a class="browseable">
					Siguiente &rarr;
				</a>
			</li>
		</ul>
	</div>
</div>