<div id="wellcome" class="hero-unit">
	<div class="row-fluid">
		<div class="span3">
			<div class="thumbnail">
				<img src="http://placehold.it/260x180" alt="Wellcome">
			</div>
		</div>
		<div class="span6">
			<h1>Bienvenido</h1>
			<p>HAL Browser Demo</p>
			<a id='login' class="btn btn-primary" href="#" >
				<h3>Entrar</h3>
			</a>
		</div>
	</div>
</div>
